.adminPage{
    width: 1200px;
    margin: auto;
}

.adminPage>table{
    margin-left: 20px;
    margin-right: 20px;
    width: 1150px;
    border-radius: 25px;
}

#additem, #edititem{
    background-color: white;
    width: 1150px;
    margin-left: 20px;
    margin-right: 20px;
}